:root {
    --playerOne-color: #ec288d;
    --playerTwo-color: #fdc084;
    --backgroundBoard-color: #ffd1fd;
    --button-color: linear-gradient(90deg,rgba(180, 58, 178, 1) 0%, rgba(252, 218, 69, 1) 100%);
}

body {
    font-family: 'Press Start 2P', sans-serif;
    display: grid;
    min-height: 100dvh;
    font-size: 1.1rem;
    background: url('./img/pixel_background.png');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

#playerForm {
    place-self: center;
    position: absolute;
    top: 50%;
    display: grid;
    gap: 24px;
    
    
    &.hidden {
        visibility: hidden;
    }
    
    & .title__container {
        justify-self: center;
        position: absolute;
        bottom: 80%;
        display: grid;
        justify-items: center;
        align-items: center;
        z-index: -1;
    }

    & .title__container img {
        grid-area: 1 / 1 / 1 / 1;
        width: 500px;
    }

    & .title {
        grid-area: 1 / 1 / 1 / 1;
        text-shadow: 0px 0px 0 rgb(235,235,235),
        1px 1px 0 rgb(224,224,224),2px 2px 0
         rgb(214,214,214),3px 3px 0 rgb(204,204,204),
         4px 4px 0 rgb(193,193,193),5px 5px 0 rgb(183,183,183),
         6px 6px 0 rgb(173,173,173),7px 7px 0 rgb(162,162,162),
         8px 8px 0 rgb(152,152,152), 9px 9px 0 rgb(142,142,142),
         10px 10px 9px rgba(0,0,0,0.15),10px 10px 1px rgba(0,0,0,0.5),
         0px 0px 9px rgba(0,0,0,.2);
    }

    & .playerField {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }

    & input {
        padding: 0.6em;
        width: 100%;
        border-radius: 8px;
    }

    & .playerSubmit {
        padding: 1em 0.6em;
        border-radius: 8px;
    }
}

.counter__container {
    min-width: 40%;
    max-height: 100px;
    place-self: center;
    display: flex;
    justify-content: space-between;
}

.game__container {
    display: grid;
    justify-items: center;
    align-items: start;

    .playerTurn {
        align-self: center;
    }

    &.hidden {
        visibility: hidden;
    }

    & .again {
        visibility: visible;

        padding: 0.8em;
        border-radius: 24px;
    }

    & .again.hidden {
        visibility: hidden;
    }

}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-self: center;
    width: 450px;
    height: 450px;

    & [data-sign="X"] {
        color: red;
    }

    & [data-sign="O"] {
        color: blue;
    }

    & .cell {
        font-family: 'Press Start 2P', sans-serif;
        display: grid;
        font-size: 5rem;
        place-items: center;
        cursor: pointer;
        border-color: black;
        background: none;
    }

    & .cell:nth-child(1) {
        border-style: none solid solid none;
    }

    & .cell:nth-child(2) {
        border-style: none none solid none;
    }

    & .cell:nth-child(3) {
        border-style: none none solid solid;
    }

    & .cell:nth-child(4) {
        border-style: none solid none none;
    }

    & .cell:nth-child(5) {
        border-style: none;
    }

    & .cell:nth-child(6) {
        border-style: none none none solid;
    }

    & .cell:nth-child(7) {
        border-style: solid solid none none;
    }

    & .cell:nth-child(8) {
        border-style: solid none none none;
    }

    & .cell:nth-child(9) {
        border-style: solid none none solid;
    }
}