body {
    font-family: 'Play', sans-serif;
    display: grid;
    min-height: 100dvh;
    font-size: 1.2rem;
}

#playerForm {
    place-self: center;
    position: absolute;
    top: 25%;
    display: grid;
    gap: 24px;


    &.hidden {
        visibility: hidden;
    }

    & .title {
        justify-self: center;
    }

    & .playerField {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }

    & input {
        padding: 0.6em;
        width: 100%;
        border-radius: 24px;
    }

    & .playerSubmit {
        padding: 0.4em 0.6em;
        border-radius: 24px;
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-self: center;
    width: 450px;
    height: 450px;

    & [data-sign="X"] {
        color: red;
    }

    & [data-sign="O"] {
        color: blue;
    }

    & .cell {
        display: grid;
        font-size: 5rem;
        place-items: center;
        cursor: pointer;
        border-color: black;
    }

    & .cell:nth-child(1) {
        border-style: none solid solid none;
    }

    & .cell:nth-child(2) {
        border-style: none none solid none;
    }

    & .cell:nth-child(3) {
        border-style: none none solid solid;
    }

    & .cell:nth-child(4) {
        border-style: none solid none none;
    }

    & .cell:nth-child(6) {
        border-style: none none none solid;
    }

    & .cell:nth-child(7) {
        border-style: solid solid none none;
    }

    & .cell:nth-child(8) {
        border-style: solid none none none;
    }

    & .cell:nth-child(9) {
        border-style: solid none none solid;
    }
}