:root {
    --playerOne-color: #ec288d;
    --playerTwo-color: #fdc084;
    --backgroundBoard-color: #ffd1fd;
    --button-color: linear-gradient(90deg,rgba(180, 58, 178, 1) 0%, rgba(252, 218, 69, 1) 100%);
}

body {
    font-family: 'Press Start 2P', sans-serif;
    display: grid;
    min-height: 100dvh;
    font-size: 1.1rem;
    background: url('./img/pixel_background.png');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

#playerForm {
    place-self: center;
    position: absolute;
    top: 25%;
    display: grid;
    gap: 24px;


    &.hidden {
        visibility: hidden;
    }

    & .title {
        justify-self: center;
    }

    & .playerField {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }

    & input {
        padding: 0.6em;
        width: 100%;
        border-radius: 24px;
    }

    & .playerSubmit {
        padding: 0.4em 0.6em;
        border-radius: 24px;
    }
}

.counter__container {
    min-width: 40%;
    max-height: 100px;
    place-self: center;
    display: flex;
    justify-content: space-between;
}

.game__container {
    display: grid;
    justify-items: center;
    align-items: start;

    .playerTurn {
        align-self: center;
    }

    &.hidden {
        visibility: hidden;
    }

    & .again {
        visibility: visible;

        padding: 0.8em;
        border-radius: 24px;
    }

    & .again.hidden {
        visibility: hidden;
    }

}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-self: center;
    width: 450px;
    height: 450px;

    & [data-sign="X"] {
        color: red;
    }

    & [data-sign="O"] {
        color: blue;
    }

    & .cell {
        font-family: 'Press Start 2P', sans-serif;
        display: grid;
        font-size: 5rem;
        place-items: center;
        cursor: pointer;
        border-color: black;
        background: none;
    }

    & .cell:nth-child(1) {
        border-style: none solid solid none;
    }

    & .cell:nth-child(2) {
        border-style: none none solid none;
    }

    & .cell:nth-child(3) {
        border-style: none none solid solid;
    }

    & .cell:nth-child(4) {
        border-style: none solid none none;
    }

    & .cell:nth-child(5) {
        border-style: none;
    }

    & .cell:nth-child(6) {
        border-style: none none none solid;
    }

    & .cell:nth-child(7) {
        border-style: solid solid none none;
    }

    & .cell:nth-child(8) {
        border-style: solid none none none;
    }

    & .cell:nth-child(9) {
        border-style: solid none none solid;
    }
}